*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    position: absolute;
}
.quarter-div{
    width: 50%;
    height: 50%;
    float: left;
}

.topleft{
    background-color: #edfdff;
}
.topright{
    background-color: #dcfedc;
}
.bottomleft{
    background-color: #F0AD4E;
}
.bottomright{
    background-color: #FFC706;
} 


/* radar chart */
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.Grass, .Grass .circle {
  fill: #09d041;
  stroke: none;
}
.area.Fire, .Fire .circle {
  fill: #d43a13;
  stroke: none;
}
.area.Water, .Water .circle {
  fill: #287feb;
  stroke: none;
}
.area.Bug, .Bug .circle {
  fill: #7fbb2a;
  stroke: none;
}
.area.Normal, .Normal .circle {
  fill: #8f8d86;
  stroke: none;
}
.area.Poison, .Poison .circle {
  fill: #8c14c3;
  stroke: none;
}
.area.Electric, .Electric .circle {
  fill: #ffd700;
  stroke: none;
}
.area.Ground, .Ground .circle {
  fill: #af5810;
  stroke: none;
}
.area.Fairy, .Fairy .circle {
  fill: #ef5be6;
  stroke: none;
}
.area.Fighting, .Fighting .circle {
  fill: #ed7804;
  stroke: none;
}
.area.Psychic, .Psychic .circle {
  fill: #be0d6b;
  stroke: none;
}
.area.Rock, .Rock .circle {
  fill: #9e966d;
  stroke: none;
}
.area.Ghost, .Ghost .circle {
  fill: #67077d;
  stroke: none;
}
.area.Ice, .Ice .circle {
  fill: #85e5ee;
  stroke: none;
}
.area.Dragon, .Dragon .circle {
  fill: #2e22cc;
  stroke: none;
}
.area.Dark, .Dark .circle {
  fill: #211b0c;
  stroke: none;
}
.area.Steel, .Steel .circle {
  fill: #32b7b2;
  stroke: none;
}
.area.Flying, .Flying .circle {
  fill: #68e0fe;
  stroke: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  cursor: default;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}